link(rel="stylesheet",href="/libs/bootstrap/css/bootstrap.css")
link(rel="stylesheet",href="/css/site.css")
script(type="text/javascript",src="/libs/jquery/jquery.min.js")
script(type="text/javascript",src="/libs/bootstrap/js/bootstrap.js")
script(type="text/javascript",src="/libs/underscore/underscore-min.js")
script(type="text/javascript",src="/js/site.js")
